@import "mystyle1.css";

.modal-scrollbar-measure {
	position: absolute;
	top: -9999px;
	width: 50px;
	height: 50px;
	overflow: scroll}
@media (min-width: 768px) {
	.modal-dialog {
		width: 500px;
		margin: 30px auto}
	.modal-content {
		box-shadow: 0 5px 15px rgba(0,0,0,.5)}
	.modal-sm {
		width: 348px}}
@media (min-width: 992px) {
	.modal-lg {
		width: 900px}}
@page {
  margin-left: 3cm;
}
.tooltip {
	font-weight: bold
}